* {
    margin:0px;
    padding:0px;
}


main,body,nav,article,aside,section,header,footer{
    display:block;
}

html{
    height:100%;
}

header{
    width:100%;
    height:123px;
    background-color:#f2e9e9;
    padding-top:2px; /*to avoid margin collapse*/
}
nav{
    width:300px;
    height:33px;
    margin:50px auto;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:visited { 
    text-decoration: none;
    color:#000; 
}

li a{
    text-decoration: none;
    padding-right:18px;
}

nav a{
    color:black;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
}

.padding1{
    padding-right:18px;
}

.padding2{
    padding-right:17px;
}

.dot{
    position: relative;
    height: 14px;
    width: 14px;
    background-color: #F72828;
    border-radius: 50%;
}


footer{
    width:100%;
    height:41px;
    background-color:#000000;
}

/* layout1 style*/

#layout1 main{
    width:881px;
    height:860px;
    margin:0 auto;
    background-color:#FFFFFF;
}

#layout1 .text{
    float:left;
    margin-top:267px;
    width:50%;
    height:120px;
    background-color: rgb(255, 255, 255);
    top:0;
    left:0;
    
}

#layout1 .boxes{
    position:relative;
    top:0px;
    left:0px;
    float:left;
    width: 50%;
    height:715px;
    background-color: #FFFFFF;
    
}

.box1{
    top:135px;
    width:75px;
    height:23px;
}

.box2{
    top:166px;
    width:136px;
    height:46px;
}

.box3{
    top:223px;
    width:134px;
    height:404px;
}

.box4{
    top:638px;
    width:88px;
    height:28px;
}

.box5{
    top:673px;
    width:25px;
    height:26px;
}


.box6{
    top:673px;
    left:32px;
    width:25px;
    height:26px;
}

.box7{
    left:150px;
    top:135px;
    width:246px;
    height:352px;
}

.box8{
    left:150px;
    top:503px;
    width:123px;
    height:212px;
}

.box9{
    
    top:503px;
    left: 287px;
    width:55px;
    height:105px;
}

.box10{
    
    top:615px;
    left: 287px;
    width:110px;
    height:58px;
}

.box11{
    left:409px;
    top:91px;
    width:28px;
    height:55px;
}

.box12{
    left:409px;
    top:157px;
    width:28px;
    height:55px;
}

.box13{
    left:409px;
    top:223px;
    width:28px;
    height:55px;
}

.box14{
    left:409px;
    top:289px;
    width:28px;
    height:198px;
}


.box15{
    left:383px;
    top:503px;
    width:55px;
    height:105px;
}

#layout1 .dot{
    position: absolute;
    margin:-24px 25px;
}

.clear{ 
    clear:both;
}

.boxes div{
    position: absolute;
    background-color:#F0E68C;
}

.selected a:hover{
    opacity:0.8;
    transition: 0.5s;
    color: #FFD700;
}


h1{
    color:#505050;
    font-size:72px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style:normal;
    line-height: normal;
}

h3{
    color:#ADD8E6;
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style:normal;
    line-height: normal;
    font-size:24px;
}

/*layout2 style*/

#layout2 .boxes2 div{
    position: absolute;
    background-color:#C4C4C4;
}


#layout2 main{
    height: 1860px;
    width:1271px;
    background-color:#FFFFFF;
    float:left;
}

#layout2 .dot{
    position: absolute;
    margin:-24px 102px;
}

#footer2{
    bottom:0px;
    position: fixed;
    clear:both;
}

.rightgraycolumn{
    left:663px;
    float:left;
    width:457px;
    height:299px;
}

.graycontainer{
    float:left;
    top:242px;
    left:151px;
    width:457px;
    height:299px;
}

.graybox2{
    top:611px;
}

.graybox3{
    top:980px;
}

.graybox4{
    top:1349px;
}

.graybox5{
    top:1718px;
}

.graybox6{
    top:410px;
}
.graybox7{
    top:779px;
}
.graybox8{
    top:1148px;
}
.graybox9{
    top:1517px;
}
.graybox10{
    top:1886px;
}

#aside1{
    width:169px;
    height:1925px;
    float:right;
    background-color:#EBEF18;
}

.littleSquare{
    height:80px;
    width:80px;
}

.littleBlackSquare{
    height:80px;
    width:80px;
    float:left;
    left:50px;
    margin-right:132px;
    margin-bottom:170px;
}

#blackSquare1{
    height:80px;
    width:80px;
    position: relative;
    background: linear-gradient(0deg, #000000, #000000), #000000;
    top:118px;
}

#blackSquare2{
    height:80px;
    width:80px;
    position: relative;
    background: linear-gradient(0deg, #000000, #000000), #000000;
    top: 527px;
}

#whiteSquare{
    height:80px;
    width:80px;
    position: relative;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #000000;
    top: 88px;
    left:89px;
}

.myName {
    margin-left:44px ;
    list-style-type: none;
    position: relative;
    width: 81px;
    top: 1183px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: normal;
    text-align: center;
    color: #000000;
}

.myName li a:hover{
    color:#87CEEB;
}

nav ul li {
    padding-bottom:20px;
    float:left;
    list-style-type: none;
}

/*Layout 3*/

/*desktop*/
.flex-container > #main3{
    width: 67vw;
    margin-top: 12vh;
    margin-left: 4vw;
}

#layout3{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

#leftSection{
    width: 24vw;
    min-height:100vh;
    background: #E5E5E5;
    float:left;
}

#main3{
    min-height:100vh;
    width:67vw;
    float:left;
}

aside{
    width: 7vw;
    min-height:100vh;
    background: rgba(24, 239, 33, 0.3);
    float:right;
}

#bottomSection{
    float:left;
    width: 100%;
    height: 463px;
    background: #EBEF18;
}

#footer3{
    position:fixed;
    bottom:0px;
}


#layout3 .dot{
    left: 250px;
    top:-10px;
}

#layout3 nav{
    margin-top:123px;
}
@media screen and (min-width: 851px){
    .flex-container{
        display: flex;
    }
}

@media screen and (max-width:850px){

    #layout3 nav{
        margin-bottom: 27px;
        margin-top: 45px;
        width: 100vw;
    }

    #layout3 .dot{
        left: 60%;
        top:-10px;
    }

    aside{
        display:none;
    }

    #leftSection{
        width: 100%;
        background: #E5E5E5;
        min-height: 105px;
        padding-top: 1px;
    }

    .flex-container > #main3{
        width:100vw;
    }

    #layout3 ul {
        padding-left:30%;
    }
}